<%= form_with model: @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>
  
  <%= f.submit %>
<% end %>

<%# gives us this html %>
<%# <form action="/restaurants/1" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="N47B9uuCscf1TMPr56jIyLE9RrA+65tv4TC6Ks+UO96ZLg9hTaqYE9NiAuozjZkjxGGa/AXIYREuZ6KSu427IQ==">
  <label for="restaurant_name">Name</label>
  <input type="text" value="the spoon" name="restaurant[name]" id="restaurant_name">
  <label for="restaurant_address">Address</label>
  <input type="text" value="Avenue Charles-Quint 365, 1083 Ganshoren, Belgique" name="restaurant[address]" id="restaurant_address">
  <label for="restaurant_rating">Rating</label>
  <input type="number" value="4" name="restaurant[rating]" id="restaurant_rating">
  <input type="submit" name="commit" value="Update Restaurant" data-disable-with="Update Restaurant">
</form> %>
